body{
 color: rgb(144, 144, 117);
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 14px;
 background-color: rgb(210, 215, 225);
 
}

p{
    border-bottom: 10px;
}
h1{
    background-color: rgb(142, 25, 25);
    text-align: center;
    color: aliceblue;
}

h2{
    background-color: rgb(147, 242, 242);
    border-left: 6px solid;
    border-color: blue;
    color: black;
    padding: 10px;
    font-weight: bolder;
}

.onderlijnd{
text-decoration: underline;
}

#vet{
font-weight: 700;
color: black;
}
